<section id="award" class="padding">

  <h1>I Premi Internacional Digital Art Barcelona 2015</h1>
  <p><span class="lang-highlight">[CA]</span> <a href="http://www.artinpocket.cat/">Artinpocket</a> & el Convent de Sant Agustí convoca el I Premi Internacional Digital Art Barcelona 2015, obert a tots els artistes, tan nacionals com internacionals, que hi podran concórrer amb cinc obres per artista, amb l'objectiu de promoure i estimular la creació artística en format digital.</p>
  <p><span class="lang-highlight">[ES]</span> <a href="http://www.artinpocket.cat/">Artinpocket</a> & el Convent de Sant Agustí convoca el I Premio Internacional Digital Art Barcelona 2015, abierto a todos los artistas, tanto nacionales como internacionales, que podrán concurrir con cinco obras por artista, con el objetivo de promover y estimular la creación artística en formato digital.</p>
  <p><span class="lang-highlight">[EN]</span> <a href="http://www.artinpocket.cat/">Artinpocket</a> & Convent of St. Augustine announces the First International Barcelona Digital Art Award 2015, open to all artists, both national and international, which will compete with five works per artist, in order to promote and encourage artistic creation in digital format.</p>

  <h2><span class="lang-highlight">[CA]</span> Descarrega't les bases del premi! <span class="lang-highlight">[ES]</span> Descárgate las bases del premio <span class="lang-highlight">[EN]</span> Download the contest rules!</h2>
  <p class="text-center"><a href="/public/docs/i-premi-internacional-digital-art-barcelona-2015_bases-CA.pdf" download="I Premi Internacional Digital Art Barcelona 2015" class="btn btn-default btn-lg"><i class="fa fa-download"></i> bases en català</a> <a href="/public/docs/i-premi-internacional-digital-art-barcelona-2015_bases-ES.pdf" download="'I Premi Internacional Digital Art Barcelona 2015'" class="btn btn-default btn-lg"><i class="fa fa-download"></i> bases en castellano</a> <a href="/public/docs/i-premi-internacional-digital-art-barcelona-2015_bases-EN.pdf" class="btn btn-default btn-lg"><i class="fa fa-download"></i> contest rules</a></p>

  <h2><span class="lang-highlight">[CA]</span> Inscripció per poder participar <span class="lang-highlight">[ES]</span> Inscripción para poder participar <span class="lang-highlight">[EN]</span> Registration to participate</h2>

  
  {% assign end_date = site.time | date_to_xmlschema %}
  {% if end_date < site.endDate %}
  <div class="row"> 
    <div class="col-lg-10 col-lg-offset-1 text-center">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <p><span class="lang-highlight">[CA]</span> Participants locals <span class="lang-highlight">[ES]</span> Participantes locales</p>
          <p><a href="/registration/2015/05/04/inscripcio-i-premi-internacional-digital-art-barcelona-2015/" title="Inscripció / Inscripción I Premi Internacional Digital Art Barcelona 2015" class="btn btn-default btn-lg"><i class="fa fa-check-square-o"></i> <small>Participa</small></a></p>
        </div>
        <div class="col-lg-6 col-md-6">
          <p><span class="lang-highlight">[EN]</span> International Participants</p>
          <p><a href="/registration/2015/05/07/registration-i-premi-internacional-digital-art-barcelona-2015/" title="Registration to the First International Barcelona Digital Art Award 2015 | soon" class="btn btn-default btn-lg"><i class="fa fa-check-square-o"></i> <small>Participate</small></a></p>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="row text-center">
      <div class="col-lg-8 col-lg-offset-2">
          <h3><span class="lang-highlight">[CA]</span> <span class="label label-warning">Inscripcions tancades!</span></h3>
          <p>Eps, les inscripcions es van tancar <strong>el {% assign m = site.endDate | date: "%-m" %}
          {{ site.endDate | date: "%-d" }} de
          {% case m %}
            {% when '1' %}Gener
            {% when '2' %}Febrer
            {% when '3' %}Març
            {% when '4' %}Abril
            {% when '5' %}Maig
            {% when '6' %}Juny
            {% when '7' %}Juliol
            {% when '8' %}Agost
            {% when '9' %}Setembre
            {% when '10' %}octubre
            {% when '11' %}Novembre
            {% when '12' %}Desembre
          {% endcase %}
          del {{ site.endDate | date: "%Y" }}</strong>. Moltes gràcies a tots els participants. El 19 de juliol comunicarem el guanyador del Premi</p>
      </div>
      <hr />
      <div class="col-lg-8 col-lg-offset-2">
          <h3><span class="lang-highlight">[ES]</span> <span class="label label-warning">¡Inscripciones cerradas!</span></h3>
          <p>Eps, las inscripciones se cerraron <strong>el {% assign m = site.endDate | date: "%-m" %}
          {{ site.endDate | date: "%-d" }} de
          {% case m %}
            {% when '1' %}Enero
            {% when '2' %}Febrero
            {% when '3' %}Marzo
            {% when '4' %}Abril
            {% when '5' %}Mayo
            {% when '6' %}Junio
            {% when '7' %}Julio
            {% when '8' %}Agosto
            {% when '9' %}Septiembre
            {% when '10' %}Octubre
            {% when '11' %}Noviembre
            {% when '12' %}Diciembre
          {% endcase %}
          del {{ site.endDate | date: "%Y" }}</strong>. Muchas gracias a todos los participantes. El 19 de julio comunicaremos el ganador del Premio</p>
      </div>
      <hr />
      <div class="col-lg-8 col-lg-offset-2">
          <h3><span class="lang-highlight">[EN]</span> <span class="label label-warning">Registration closed!</span></h3>
          <p>Eps, registration closed <strong>on {{ site.endDate | date_to_long_string }}</strong>. Thank you very much to all participants. On July 19 we will publish the winner of the Prize.</p>
      </div>
  </div>
  {% endif %}
    
</section>