<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700|PT+Sans:400">
<link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/styles/main.css">
<link href='/font-artinpocket/dist/stylesheet.min.css' rel='stylesheet' type='text/css'>

{% if page.registratitonID == '1' %}
<script type='text/javascript'>
  var formID = 'ss-form';
  var formKey = '1AQjmKHom5-qLRWAHohIRa76OM418GpUVMsi3tqkEIbg';
  var labelName = 'ssTestLabel';
  var testField = 'ssTestValue';
  var submitted = false;

  $(document).ready(function() {
   var ssForm = $('#'+formID);

   var randomInt = Math.floor((Math.random()*100)+1);
   $('#'+labelName).text('Ets un humà?, escriu "' + randomInt + '" al quadre que figura a continuació / ¿Eres un humano?, escribe "' + randomInt + '" en el cuadro que figura a continuación');
    
   ssForm.submit(function(evt){
    if($('#'+testField).val() == randomInt){
     ssForm.attr({'action' : 'https://docs.google.com/forms/d/' + formKey + '/formResponse'});
     return true;
    }else{
     alert('Has de repetir el número / Debes repetir el número "' + randomInt + '"');
      return false;
    }
   });
  });
</script>
{% endif %}
{% if page.registratitonID == '2' %}
<script type='text/javascript'>
  var formID = 'ss-form2';
  var formKey = '1hU2zk8Y8B5LsY6SeDJtzIHVI7o190kbAEYBOiQtSzfU';
  var labelName = 'ssTestLabel2';
  var testField = 'ssTestValue2';
  var submitted = false;

  $(document).ready(function() {
   var ssForm = $('#'+formID);

   var randomInt = Math.floor((Math.random()*100)+1);
   $('#'+labelName).text('Are you human?, type "' + randomInt + '" in the box given below');
    
   ssForm.submit(function(evt){
    if($('#'+testField).val() == randomInt){
     ssForm.attr({'action' : 'https://docs.google.com/forms/d/' + formKey + '/formResponse'});
     return true;
    }else{
     alert('You need to repeat the number "' + randomInt + '"');
      return false;
    }
   });
  });
</script>
{% endif %}

{% if page.class == 'tallers' %}
  {% assign taller_data = site.data.activitats.tallers | where:"id", page.taller %}
  {% assign taller = taller_data | first %}
  <script type="application/ld+json">
  {
    "@context": "{{ taller.context }}",
    "@type": "{{ taller.type }}",
    "location": {
      "@type": "{{ taller.location.type }}",
      "name": "{{ taller.location.name }}",
      "address": "{{ taller.location.address }}"
    },
    "name": "{{ taller.name }}",
    "offers": {
      "@type": "{{ taller.offers.type }}",
      "url": "{{ taller.offers.url }}",
      "price": "{{ taller.offers.price }}",
      "priceCurrency": "{{ taller.offers.priceCurrency }}",
      "availability": "{{ taller.offers.availability }}"
    },
    "performer": [
     {% for performer in taller.performer %}
     {% if forloop.last != true %}
     {
        "@type": "{{ performer.type }}",
        "jobTitle": "{{ performer.jobTitle }}",
        "name": "{{ performer.name }}",
        "sameAs": "{{ performer.sameAs }}"
      },
     {% elsif forloop.last == true %}
     {
        "@type": "{{ performer.type }}",
        "jobTitle": "{{ performer.jobTitle }}",
        "name": "{{ performer.name }}",
        "sameAs": "{{ performer.sameAs }}"
      }
     {% endif %}
     {% endfor %}
     ],
    "startDate": "{{ taller.startDate }}",
    "endDate": "{{ taller.endDate }}",
    "description": "{{ taller.description }}"
  }
  </script>
{% endif %}

{% if page.class == 'videos' %}
  {% assign video_data = site.data.videos | where:"id", page.video %}
  {% assign video = video_data | first %}
  <script type="application/ld+json">
  {
    "@context": "{{ video.context }}",
    "@type": "{{ video.type }}",
    "name": "{{ video.title }}",
    "description": "{{ video.description }}",
    "embedUrl": "{{ site.url }}/{{ video.video-container }}",
    "contentUrl": "{{ site.url }}/public/video/{{ video.source-webm }}",
    "thumbnailUrl": "{{ site.url }}/public/video/{{ video.poster }}",
    "@id": "{{ site.url }}{{ page.url }}",
    "datePublished": "{{ video.dataPublished }}",
    "uploadDate": "{{ video.dataPublished }}",
    "author": {
      "@type": "Organization",
      "name": "Artinpocket"
    }
  }  
  </script>
{% endif %}