  <link rel="import"
      href="/bower_components/google-map/google-map.html">
  <link rel="import"
      href="/bower_components/core-image/core-image.min.html">
   <style>
     google-map {
        display: block;
        height: 30em;
      }
    </style>
  <!-- Google fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700|PT+Sans:400">
<link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/styles/main.css">
<!--
Font Artinpocket Medium
=============================

Font creada per Artipocket.cat, sota llicència GPV V3. Una font per a tots els amants de l'art.
-->
<link href='/font-artinpocket/dist/stylesheet.min.css' rel='stylesheet' type='text/css'>
<!-- javascript -->
<script type="text/javascript" src="/public/js/jquery-2.1.0.min.js" async></script>
<script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.min.js" async></script>
<script>
document.createElement( "picture" );
</script>
<script src="/vendor/picturefill/dist/picturefill.min.js" async></script>
<script type="text/javascript" src="/public/js/plugins.js" async></script>
<script type="text/javascript" src="/public/js/countdown.js" async></script>

{% if page.registratitonID == '1' %}
<script type='text/javascript'>
  var formID = 'ss-form';
  var formKey = '1AQjmKHom5-qLRWAHohIRa76OM418GpUVMsi3tqkEIbg';
  var labelName = 'ssTestLabel';
  var testField = 'ssTestValue';
  var submitted = false;

  $(document).ready(function() {
   var ssForm = $('#'+formID);

   var randomInt = Math.floor((Math.random()*100)+1);
   $('#'+labelName).text('Ets un humà?, escriu "' + randomInt + '" al quadre que figura a continuació / ¿Eres un humano?, escribe "' + randomInt + '" en el cuadro que figura a continuación');
    
   ssForm.submit(function(evt){
    if($('#'+testField).val() == randomInt){
     ssForm.attr({'action' : 'https://docs.google.com/forms/d/' + formKey + '/formResponse'});
     return true;
    }else{
     alert('Has de repetir el número / Debes repetir el número "' + randomInt + '"');
      return false;
    }
   });
  });
</script>
{% endif %}
{% if page.registratitonID == '2' %}
<script type='text/javascript'>
  var formID = 'ss-form2';
  var formKey = '1hU2zk8Y8B5LsY6SeDJtzIHVI7o190kbAEYBOiQtSzfU';
  var labelName = 'ssTestLabel2';
  var testField = 'ssTestValue2';
  var submitted = false;

  $(document).ready(function() {
   var ssForm = $('#'+formID);

   var randomInt = Math.floor((Math.random()*100)+1);
   $('#'+labelName).text('Are you human?, type "' + randomInt + '" in the box given below');
    
   ssForm.submit(function(evt){
    if($('#'+testField).val() == randomInt){
     ssForm.attr({'action' : 'https://docs.google.com/forms/d/' + formKey + '/formResponse'});
     return true;
    }else{
     alert('You need to repeat the number "' + randomInt + '"');
      return false;
    }
   });
  });
</script>
{% endif %}

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-46558953-4', 'auto');
ga('send', 'pageview');

</script>

<script src='https://cdn.goroost.com/roostjs/mtdjccewa0gxsdm4wogssfn55mrlhbxm' async></script>

{% if page.class == 'tallers' %}
  {% assign taller_data = site.data.activitats.tallers | where:"id", page.taller %}
  {% assign taller = taller_data | first %}
  <script type="application/ld+json">
  {
    "@context": "{{ taller.context }}",
    "@type": "{{ taller.type }}",
    "location": {
      "@type": "{{ taller.location.type }}",
      "name": "{{ taller.location.name }}",
      "address": "{{ taller.location.address }}"
    },
    "name": "{{ taller.name }}",
    "offers": {
      "@type": "{{ taller.offers.type }}",
      "url": "{{ taller.offers.url }}",
      "price": "{{ taller.offers.price }}",
      "priceCurrency": "{{ taller.offers.priceCurrency }}",
      "availability": "{{ taller.offers.availability }}"
    },
    "performer": [
     {% for performer in taller.performer %}
     {% if forloop.last != true %}
     {
        "@type": "{{ performer.type }}",
        "jobTitle": "{{ performer.jobTitle }}",
        "name": "{{ performer.name }}",
        "sameAs": "{{ performer.sameAs }}"
      },
     {% elsif forloop.last == true %}
     {
        "@type": "{{ performer.type }}",
        "jobTitle": "{{ performer.jobTitle }}",
        "name": "{{ performer.name }}",
        "sameAs": "{{ performer.sameAs }}"
      }
     {% endif %}
     {% endfor %}
    "startDate": "{{ taller.startDate }}",
    "endDate": "{{ taller.endDate }}",
    "timetable": "{{ taller.timetable }}",
    "description": "{{ taller.description }}"
  }
  </script>
{% endif %}