<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="initial-scale=1, minimal-ui">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"> -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="description" content="{% if page.title == "Home" %}{{ site.title }} &middot; {{ site.tagline }}{% else %}{{ page.title | strip_html | strip_newlines | truncate: 160 }} &middot; {{ site.title | strip_html | strip_newlines | truncate: 160 }}{% endif %}">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title | strip_html | strip_newlines | truncate: 160 }} &ndash; {% if page.category == 'patrocinadors' %}patrocinadors{% endif %}{% if page.category == 'place' %}place{% endif %} &middot; {{ site.title }}
    {% endif %}
  </title>

  {% if page.og %}
  <meta property="og:title" content="{{ page.title | strip_html | strip_newlines | truncate: 160 }}" />
  <meta property="og:type" content="{{ page.og-type }}" />
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
      {% if page.category == 'patrocinadors' %}
          {% assign who_data = site.patrocina | where:"id", page.who %}
          {% assign who = who_data | first %}
          <meta property="og:image" content="{{ site.url }}/public/img/{{ who.logo }}" />
          <meta property="og:description" content="{{ who.description | strip_html | strip_newlines | truncate: 160 }}" />

          <meta name="twitter:card" content="summary_large_image">
          <meta name="twitter:site" content="@{{ site.twitter }}">
          <meta name="twitter:creator" content="@{% if page.twitter-username %}{{ page.twitter-username }}{% else %}{{ site.twitter }}{% endif %}">
          <meta name="twitter:title" content="{{ page.title | strip_html | strip_newlines | truncate: 160 }}">
          <meta name="twitter:description" content="{{ who.description | strip_html | strip_newlines | truncate: 160 }}">
          <meta name="twitter:image:src" content="{{ site.url }}/public/img/{{ who.logo }}">
      {% endif %}
      {% if page.category == 'tallers' %}
          {% assign taller_data = site.data.activitats.tallers | where:"id", page.taller %}
          {% assign taller = taller_data | first %}
          <meta property="og:image" content="{{ site.url }}/public/img/tallers/{{ taller.featured_src }}" />
          <meta property="og:description" content="{{ taller.description | strip_html | strip_newlines | truncate: 160 }}" />

          <meta name="twitter:card" content="summary_large_image">
          <meta name="twitter:site" content="@{{ site.twitter }}">
          <meta name="twitter:creator" content="@{% if page.twitter-username %}{{ page.twitter-username }}{% else %}{{ site.twitter }}{% endif %}">
          <meta name="twitter:title" content="{{ page.title | strip_html | strip_newlines | truncate: 160 }}">
          <meta name="twitter:description" content="{{ taller.description | strip_html | strip_newlines | truncate: 160 }}">
          <meta name="twitter:image:src" content="{{ site.url }}/public/img/tallers/{{ taller.featured_src }}">
      {% endif %}
      {% if page.category == 'videos' %}
          {% assign video_data = site.data.videos | where:"id", page.video %}
          {% assign video = video_data | first %}
          <meta property="og:image" content="{{ site.url }}/public/video/{{ video.poster }}" />
          <meta property="og:description" content="{{ video.description | strip_html | strip_newlines | truncate: 160 }}" />
          <meta property="og:video:url" content="{{ site.url }}/public/video/{{ video.source-mp4 }}">
          <meta property="og:video:secure_url" content="{{ site.url }}/public/{{ video.source-mp4 }}">
          <meta property="og:video:type" content="text/html">
          <meta property="og:video:width" content="{{ video.width }}">
          <meta property="og:video:height" content="{{ video.height }}">

          <meta name="twitter:card" content="player">
          <meta name="twitter:site" content="@{{ site.twitter }}">
          <meta name="twitter:title" content="{{ page.title | strip_html | strip_newlines | truncate: 160 }}">
          <meta name="twitter:description" content="{{ video.description | strip_html | strip_newlines | truncate: 160 }}">
          <meta name="twitter:image" content="{{ site.url }}/public/video/{{ video.poster }}">
          <meta name="twitter:player" content="{{ site.url }}{{ page.url }}">
          <meta name="twitter:player:width" content="{{ video.width }}">
          <meta name="twitter:player:height" content="{{ video.height }}">
          <meta name="twitter:player:stream" content="{{ site.url }}/public/video/ {{ video.source-mp4 }}">
          <meta name="twitter:player:stream:content_type" content="{{ video.codec }}">

      {% endif %}
      {% if page.class == '' or page.class == 'places' %}
          <meta property="og:image" content="{{ site.url }}/public/img/2-nd-simultaneous-digital-art-show-banner-og-2015.jpg" />
          <meta property="og:description" content="The 2nd exhibition of digital art in Barcelona is presented as a simultaneous exhibition in spaces and buildings of the city. The show was created with the aim of discovering and experimenting with digital art in environments outside the traditional art exhibition circuit" />

          <meta name="twitter:card" content="summary_large_image">
          <meta name="twitter:site" content="@{{ site.twitter }}">
          <meta name="twitter:creator" content="@{% if page.twitter-username %}{{ page.twitter-username }}{% else %}{{ site.twitter }}{% endif %}">
          <meta name="twitter:title" content="{{ page.title | strip_html | strip_newlines | truncate: 160 }}">
          <meta name="twitter:description" content="The 2nd exhibition of digital art in Barcelona is presented as a simultaneous exhibition in spaces and buildings of the city. The show was created with the aim of discovering and experimenting with digital art in environments outside the traditional art exhibition circuit">
          <meta name="twitter:image:src" content="{{ site.url }}/public/img/2-nd-simultaneous-digital-art-show-banner-og-2015.jpg">
      {% endif %}
  {% endif %}

  <!-- Icons -->

  <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="/public/img/touch/chrome-touch-icon-192x192.png">

    <meta name="theme-color" content="#A24C41">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="#espaiSID">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">

    <meta name="msapplication-TileImage" content="/public/img/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#ffffff">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
  <link rel="manifest" href="{{ site.url }}/manifest.json">

  <!-- Polymer web components for layout places -->
   <script>
        if ('registerElement' in document
          && 'createShadowRoot' in HTMLElement.prototype
          && 'import' in document.createElement('link')
          && 'content' in document.createElement('template')) {
          
        } else {
          document.write('<script src="/bower_components/webcomponentsjs/webcomponents.js"><\/script>');
        }
   </script>

  {% include footer-css-js.html %}
</head>
