
  <head>
    <title>{{ site-title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <script src="{{ "/bower_components/platform/platform.js" | prepend: site.baseurl }}"></script>

    <link rel="import" href="{{ "/bower_components/core-icons/core-icons.html" | preped: site.baseurl }}">
    <link rel="import" href="{{ "/bower_components/sampler-scaffold/sampler-scaffold.html" | prepend: site.baseurl}}">
    <link rel="import" href="{{ "/bower_components/core-item/core-item.html" | prepend: site.baseurl}}">
    <link rel="import" href="{{ "/bower_components/core-menu/core-submenu.html" | prepend: site.baseurl}}">
    <link rel="import" href="{{ "/bower_components/paper-icon-button/paper-icon-button.html" | prepend: site.baseurl}}">
    <link rel="import" href="{{ "/bower_components/paper-fab/paper-fab.html" | prepend: site.baseurl}}">
    <link rel="import" href="{{ "/font-artinpocket/artinpocket.html" | prepend: site.baseurl }}">

    <style>

      body {
        font-family: "artinpocketregular";
        color: #333;
        margin: 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-touch-callout: none;
      }
      
    </style>

  </head>