<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <link rel="apple-touch-icon" href="{{ site.url }}{{ site.icon }}">
    <link rel="shortcut icon" href="{{ site.url }}{{ site.favicon }}">
    <meta name="description" content="{{ site.description }}">
    <script src="{{ "/bower_components/platform/platform.js" | prepend: site.baseurl }}"></script>
    <!-- <link rel="import" href="{{ "/bower_components/polymer/polymer.html" | prepend: site.baseurl }}"> -->
    {% if page.layout == 'holy-grail' %}
    <!-- <script src="{{ "/bower_components/jquery/dist/jquery.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/bower_components/jquery.countdown/dist/jquery.countdown.min.js" | prepend: site.baseurl }}"></script> -->
    <link rel="import" href="{{ "/bower_components/core-header-panel/core-header-panel.html" | prepend: site.baseurl }}">
    <link rel="import" href="{{ "/bower_components/core-toolbar/core-toolbar.html" | prepend: site.baseurl }}">
    <link rel="import" href="{{ "/bower_components/paper-tabs/paper-tabs.html" | prepend: site.baseurl }}">
    <style type="text/css">
		html,body {
    		height: 100%;
    		margin: 0;
  		}
		core-header-panel {
			height: 100%;
			overflow: auto;
			-webkit-overflow-scrolling: touch; 
		}
		core-toolbar {
			background: rgba(250,230,20,1);
			color: white;
		}
          #tabs {
            width: 100%;
            margin: 0;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }
  </style>
  {% endif %}
    <link rel="import" href="{{ "/font-artinpocket/artinpocket.html" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">

</head>
