<section class="teaser">
  <figure class="no-margin">
    <div class="embed-container embed-container_16-9">
      <video id="teaser" controls preload="auto" poster="/public/video/spot-mad-barcelona-2015-segona-mostra-simultania-d-art-digital.png">
    <source src=/public/video/spot-mad-barcelona-2015-segona-mostra-simultania-d-art-digital.webm type='video/webm; codecs="vorbis,vp8"'>
    <source src=/public/video/spot-mad-barcelona-2015-segona-mostra-simultania-d-art-digital.mp4 type='video/mp4; codecs="aac,h264"'>
  </video>
    </div>
    <figcaption>
      <p><small><strong>Spot MAD Barcelona 2015. Segona Mostra Simultània d'Art Digital.</strong></small></p>
    </figcaption>
  </figure>
</section>