---
layout: compress
---

<!DOCTYPE html>
<html lang="ca">

  {% include head.html %}

  <body unresolved class="theme-base-0a {% if page.category == 'mur' %}mur{% endif %}{% if page.category == 'mur-diari' or page.title == 'Aportacions' %}mur-diari{% endif %}{% if page.class == 'artwork' %}artwork{% endif %} {% if page.title == 'Home' %}home{% endif %}">
    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      {% for place in site.data.artinpocketplaces | where:"id", 1 %}
      <div class="address"><p class="text-center"><small><strong><i class="fa fa-map-marker"></i> </strong> {{ place.address }} - <strong><i class="fa fa-phone"></i> </strong> <a href="tel:{{ place.phone }}">{{ place.phone }}</a> - <a href="{{ place.url }}" title="{{ place.name }}" rel="external"><i class="fa fa-external-link"></i></a> | <a href="https://twitter.com/{{ place.twitter }}" title="@{{ place.twitter }}" rel="external"><i class="fa fa-twitter"></i></a> | <a href="{{ place.facebook }}" title="{{ place.name }} en Facebook" rel="external"><i class="fa fa-facebook"></i></a> | <a href="mailto:{{ place.email }}" title="Correo-e {{ place.email }}" rel="external"><i class="fa fa-envelope"></i></a></small></p></div>
      {% endfor %}
      <div class="masthead">
        <div class="container">
          <label for="sidebar-checkbox" class="sidebar-toggle"></label>

          <h3 class="masthead-title">
            <a href="/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

      {% if page.title == 'Home' %}
      <div class="home-title">
        <h1 class="text-center">{{ page.subtitle }}</h1>
        <h2 class="text-center">{{ page.subsubtitle }}</h2>
        <h3 class="text-center">{{ page.subsubsubtitle }}</h3>
      </div>
      {% include teaser.html %}
      {% include map-places.html %}
      <div class="container">{% include flyer.html %}</div>
      {% endif %}

      <div class="container {% if page.title == 'Home' %}donatius{% endif %} content">
        {{ content }}
      </div>
    </div>

    <footer class="related">
      <div class="container">
        <p>{{ site.description }}</p>
        <p class="text-right">
          <a href="https://twitter.com/Artinpocket" title="Twitter" rel="external"><i class="fa fa-twitter"></i></a> <a href="https://www.facebook.com/pages/Artinpocket/617130554970586" title="Facebook" rel="external"><i class="fa fa-facebook"></i></a> <a href="http://www.pinterest.com/artinpocket/" title="Pinterest" rel="external"><i class="fa fa-pinterest"></i></a> <a href="http://www.linkedin.com/company/artinpocket" title="Linkedin" rel="external"><i class="fa fa-linkedin"></i></a> <a href="mailto:info@artinpocket.cat" title="Correu-e" rel="external"><i class="fa fa-envelope"></i></a></span>
        </p>
        <div class="row">

          <h2>Organitza / Organizer</h2>
      
          <div class="col-sm-offset-2 col-lg-offset-2 col-sm-4 col-lg-4">
            <img src="/public/img/{{ site.organitza.artinpocket.logo }}" alt="{{ site.organitza.artinpocket.description }}" title="{{ site.organitza.artinpocket.description }}">
          </div>
      
          <div class="col-sm-4 col-lg-4">
            <img src="/public/img/{{ site.organitza.convent-sant-agusti.logo }}" alt="{{ site.organitza.convent-sant-agusti.description }}" title="{{ site.organitza.convent-sant-agusti.description }}">
          </div>

        </div>

        <div class="row">

          <h2>Patrocina / Sponsor</h2>
      
          <div class="col-sm-4 col-lg-4">
            <img src="/public/img/{{ site.patrocina.blanz.logo }}" alt="{{ site.patrocina.blanz.description }}" title="{{ site.patrocina.blanz.description }}">
          </div>
      
          <div class="col-sm-4 col-lg-4">
            <img src="/public/img/{{ site.patrocina.canon.logo }}" alt="{{ site.patrocina.canon.description }}" title="{{ site.patrocina.canon.description }}">
          </div>
      
          <div class="col-sm-4 col-lg-4">
            <img src="/public/img/{{ site.patrocina.tram.logo }}" alt="{{ site.patrocina.tram.description }}" title="{{ site.patrocina.tram.description }}">
          </div>

        </div>

        <div class="row">

          <h2>Col·labora / Partner</h2>
      
          <div class="col-sm-2 col-lg-2">
            <img src="/public/img/{{ site.colabora.gencat.logo }}" alt="{{ site.colabora.gencat.description }}" title="{{ site.colabora.gencat.description }}">
          </div>
      
          <div class="col-sm-2 col-lg-2">
            <img src="/public/img/{{ site.colabora.sercotel.logo }}" alt="{{ site.colabora.sercotel.description }}" title="{{ site.colabora.sercotel.description }}">
          </div>
      
          <div class="col-sm-2 col-lg-2">
            <img src="/public/img/{{ site.colabora.tona.logo }}" alt="{{ site.colabora.tona.description }}" title="{{ site.colabora.tona.description }}">
          </div>
      
          <div class="col-sm-2 col-lg-2">
            <img src="/public/img/{{ site.colabora.deliverum.logo }}" alt="{{ site.colabora.deliverum.description }}" title="{{ site.colabora.deliverum.description }}">
          </div>
      
          <div class="col-sm-2 col-lg-2">
            <img src="/public/img/{{ site.colabora.arteaunclick.logo }}" alt="{{ site.colabora.arteaunclick.description }}" title="{{ site.colabora.arteaunclick.description }}">
          </div>
      
          <div class="col-sm-2 col-lg-2">
            <a href="{{ site.colabora.oxygen.url }}"><img src="/public/img/{{ site.colabora.oxygen.logo }}" alt="{{ site.colabora.oxygen.description }}" title="{{ site.colabora.oxygen.description }}"></a>
          </div>

        </div>

        <div class="row">

          <h2>Participa / Participants</h2>
      
          <div class="col-sm-offset-1 col-lg-offset-1 col-sm-2 col-lg-2">
            <img src="/public/img/{{ site.participa.alaire.logo }}" alt="{{ site.participa.alaire.description }}" title="{{ site.participa.alaire.description }}">
          </div>
      
          <div class="col-sm-2 col-lg-2">
            <img src="/public/img/{{ site.participa.espanya.logo }}" alt="{{ site.participa.espanya.description }}" title="{{ site.participa.espanya.description }}">
          </div>
      
          <div class="col-sm-2 col-lg-2">
            <img src="/public/img/{{ site.participa.roommate.logo }}" alt="{{ site.participa.roommate.description }}" title="{{ site.participa.roommate.description }}">
          </div>
      
          <div class="col-sm-2 col-lg-2">
            <img src="/public/img/{{ site.participa.convent-sant-agusti.logo }}" alt="{{ site.participa.convent-sant-agusti.description }}" title="{{ site.participa.convent-sant-agusti.description }}">
          </div>
      
          <div class="col-sm-2 col-lg-2">
            <img src="/public/img/{{ site.participa.balmes.logo }}" alt="{{ site.participa.balmes.description }}" title="{{ site.participa.balmes.description }}">
          </div>

        </div>

        <div class="row">
      
          <div class="col-sm-offset-2 col-lg-offset-2 col-sm-2 col-lg-2">
            <img src="/public/img/{{ site.participa.amister.logo }}" alt="{{ site.participa.amister.description }}" title="{{ site.participa.amister.description }}">
          </div>
      
          <div class="col-sm-2 col-lg-2">
            <img src="/public/img/{{ site.participa.gorilla.logo }}" alt="{{ site.participa.gorilla.description }}" title="{{ site.participa.gorilla.description }}">
          </div>
      
          <div class="col-sm-2 col-lg-2">
            <img src="/public/img/{{ site.participa.toc.logo }}" alt="{{ site.participa.toc.description }}" title="{{ site.participa.toc.description }}">
          </div>
      
          <div class="col-sm-2 col-lg-2">
            <img src="/public/img/{{ site.participa.nauart.logo }}" alt="{{ site.participa.nauart.description }}" title="{{ site.participa.nauart.description }}">
          </div>

        </div>        
        {% include footer-sitemap.html %}
      </div>
    </footer>
      
      {% for place in site.data.artinpocketplaces | where:"id", 1 %}
      <div class="address"><p class="text-center"><small><strong><i class="fa fa-map-marker"></i> </strong> {{ place.address }} - <strong><i class="fa fa-phone"></i> </strong> <a href="tel:{{ place.phone }}">{{ place.phone }}</a> - <a href="{{ place.url }}" title="{{ place.name }}" rel="external"><i class="fa fa-external-link"></i></a> | <a href="https://twitter.com/{{ place.twitter }}" title="@{{ place.twitter }}" rel="external"><i class="fa fa-twitter"></i></a> | <a href="{{ place.facebook }}" title="{{ place.name }} en Facebook" rel="external"><i class="fa fa-facebook"></i></a> | <a href="mailto:{{ place.email }}" title="Correo-e {{ place.email }}" rel="external"><i class="fa fa-envelope"></i></a></small></p></div>
      {% endfor %}<template is="dom-bind" id="app">

    <paper-toast id="caching-complete"
                 duration="6000"
                 text="Completat l'emmagatzematge en memòria cau! Aquesta aplicació funcionarà offline.">
    </paper-toast>

    <platinum-sw-register auto-register
                          clients-claim
                          skip-waiting
                          on-service-worker-installed="displayInstalledToast">
      <platinum-sw-cache default-cache-strategy="fastest">
      </platinum-sw-cache>
    </platinum-sw-register>

</template>

    <script src="/public/js/app2.min.js" async></script>
    <script src="/public/js/app.min.js" async></script>
    
  </body>
</html>
