---
layout: default
---

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  <google-map latitude="37.779" longitude="-122.3892" disableDefaultUI fitToMarkers>
      <google-map-marker latitude="37.779" longitude="-122.3892"
                         title="Go Giants!" draggable="false">
           <figure>
           	<img src="/public/img/ryanys-pub-place-digital-art-barcelona.png">
           	<figcaption>
           		<p>Hola com estem?</p>
           	</figcaption>
           </figure>
      </google-map-marker>
    </google-map>

</div>