---
layout: default
---

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  <google-map latitude="41.3804463" longitude="2.1800922" disableDefaultUI fitToMarkers zoom="15">
      <google-map-marker latitude="41.3804463" longitude="2.1800922"
                         title="Barcelona Digital Art" draggable="false" icon="/public/favicon.ico">
           <figure>
           	<img src="/public/img/ryans-pub-place-digital-art-barcelona.png">
           	<figcaption>
           		<p>
                <strong>Rayans Pubs</strong><br/>
                Direcció / Address: Carrer Ample, 28, 08002 Barcelona<br/>
                Horari projecció / Screening timetable: 23.00h to 01.00h<br/>
              </p>
           	</figcaption>
           </figure>
      </google-map-marker>
      <google-map-marker latitude="41.3799331" longitude="2.1766979"
                         title="Barcelona Digital Art" draggable="false" icon="/public/favicon.ico">
           <figure>
            <img src="/public/img/ryans-pub-place-digital-art-barcelona.png">
            <figcaption>
              <p>
                <strong>Rayans Pubs</strong><br/>
                Direcció / Address: Carrer dels Escudellers, 24, 08002 Barcelona<br/>
                Horari projecció / Screening timetable: 23.00h to 01.00h<br/>
              </p>
            </figcaption>
           </figure>
      </google-map-marker>      
      <google-map-marker latitude="41.3999468" longitude="2.159661"
                         title="Barcelona Digital Art" draggable="false" icon="/public/favicon.ico">
           <figure>
            <img src="/public/img/ryans-pub-place-digital-art-barcelona.png">
            <figcaption>
              <p>
                <strong>Rayans Pubs</strong><br/>
                Direcció / Address: Carrer del Torrent de l'Olla, 39, 08012 Barcelona<br/>
                Horari projecció / Screening timetable: 23.00h to 01.00h<br/>
              </p>
            </figcaption>
           </figure>
      </google-map-marker>
    </google-map>

</div>